.popup__caption {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  margin: 0;
}

.popup_confirm-delete-text {
  font-size: 24px;
  font-weight: 900;
}

.popup_confirm-delete .popup__content {
  min-height: 180px;
  padding: 11px 36px;
}

.popup_type_edit-profile-photo .popup__content {
  min-height: 180px;
  padding: 30px 36px;
}

.popup_confirm-delete-text {
  margin-bottom: 33px;
}

.confirm-delete-button {
  margin-top: 0;
}

.popup_type_edit-avatar .popup__content {
  min-height: 180px;
  padding: 30px 36px;
}


.popup_type_edit-avatar .popup__form {
    margin-top: 45px;
}
