.popup__input {
  width: 100%;
  height: 30px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
}

.form__input_type_error {
  border-bottom: 1px solid rgb(255, 0, 0);
}

.form__input-error {
  color: #F00;
  font-family: Inter;
  font-size: 12px;
  position: absolute;
  left: 0px;
  top: 30px;
  z-index: 1;
}

.popup__input-error-message {
  color: #F00;
  font-family: Inter;
  font-size: 12px;
}

.popup__input_container {
  position: relative;
  margin-bottom: 35px; /*добавлено расстояние, иначе рамка фокуса закрывает ошибку*/

}

.popup__input:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 568px) {
  .popup__title {
    font-size: 12px;
    line-height: 15px;
  }
}
